.content-container {
	height: 15%;
	width: 30%;
	margin: auto;
	margin-top: 10%;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: #f2f2f2;
	-webkit-box-shadow: 0px -1px 26px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px -1px 26px 0px rgba(0,0,0,0.75);
	box-shadow: 0px -1px 26px 0px rgba(0,0,0,0.75);
	padding-left: 20px;
	padding-top: 20px;
}

.input-row {
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	margin-bottom: 15px;
}

.input-row label {
	margin-right: 15px;
}

.buttons {
	margin-top: 50px;
	margin-bottom: 30px;
	text-align: center;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
} 

input[type=range]{
	-webkit-appearance: none;     /*nécessaire pour Chrome */
	padding: 0;                   /* nécessaire pour IE */
	font: inherit;                /* même rendu suivant font document */
	outline: none;
	color: #069;                  /* sert pour couleur de référence, via currentColor, pour le curseur */
	opacity: .8;
	background: #CCC;             /* sert pour couleur de fond de la zone de déplacement */
	box-sizing: border-box;       /* même modèle de boîte pour tous */
	transition: opacity .2s;
	cursor: pointer;
  }